
@{
    ViewData["Title"] = "Index";
}

@await Component.InvokeAsync("About");
@await Component.InvokeAsync("Service");
@await Component.InvokeAsync("Portfolio");
@await Component.InvokeAsync("Testimonal");

<section id="cta" class="cta">
    <div class="container">

        <div class="text-center">
            <h3>Call To Action</h3>
            <p>Welcome to our leading Daisin company in all over the Vietnam. Please do not hetitate to get in touch with us.</p>
            <a class="cta-btn" href="#Contact">Contact Us</a>
        </div>

    </div>
</section>

@await Component.InvokeAsync("Team");
@await Component.InvokeAsync("Contact");
