
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/shared/_Layout.cshtml";
}

@if (User.IsInRole("SuperAdmin"))
{
    <div class="alert alert-success fade show fw-bolder text-center" role="alert">
        WELCOME TO OUR COMPANY DASHBOARD as an ADMIN !!
    </div>
}else
{
    <div class="alert alert-success fade show fw-bolder text-center" role="alert">
        WELCOME TO OUR COMPANY DASHBOARD !!
    </div>
}

