@model List<ContactUI>

<section id="contact" class="contact">
	<div class="container">

		<div class="section-title">
			<span>Contact</span>
			<h2>Contact</h2>
		</div>

		<div class="row">
			<div class="d-flex align-items-stretch">
				<div class="info">
					@foreach (var item in Model)
					{
						<div class="address">
							<i class="bi bi-geo-alt"></i>
							<h4>Location:</h4>
							<p>@item.Location</p>
						</div>

						<div class="email">
							<i class="bi bi-envelope"></i>
							<h4>Email:</h4>
							<p>@item.Email</p>
						</div>

						<div class="phone">
							<i class="bi bi-phone"></i>
							<h4>Call:</h4>
							<p>@item.Call</p>
						</div>

						<iframe src="@item.Map"
								style="border:0;width:100%;height:280px;" allowfullscreen=""
								loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"></iframe>
					}
				</div>

			</div>

		</div>

	</div>
</section>