@model TestimonalUpdateVM;
@{
	ViewData["Title"] = "UpdateTestimonal";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div>
	<h5 class="card-title">Update Testimonal</h5>

	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
			<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Testimonal" asp-action="GetTestimonalList">Testimonal</a></li>
			<li class="breadcrumb-item active">Update</li>
		</ol>
	</nav>
</div>

<div class="row">
	<div class="col-lg-4 card">
		<img src="~/images/@Model.FileName" class="card-img-top" alt="Daisin Portfolio" />
	</div>

	<div class="col-lg-8 card">
		<div class="card-body">
			<form asp-area="Admin" asp-controller="Testimonal" asp-action="UpdateTestimonal" method="post" class="row g-3" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input asp-for="Id" type="hidden" />
				<input asp-for="RowVersion" type="hidden" />
				<div class="col-md-12">
					<div class="form-floating">
						<input asp-for="FullName" type="text" class="form-control" placeholder="Your FullName">
						<label asp-for="FullName">FullName</label>
						<span asp-validation-for="FullName" class="text-danger"></span>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-floating">
						<input asp-for="Title" type="text" class="form-control" placeholder="Your Title">
						<label asp-for="Title">Title</label>
						<span asp-validation-for="Title" class="text-danger"></span>
					</div>
				</div>
				<div class="col-12">
					<div class="form-floating">
						<textarea asp-for="Comment" class="form-control" placeholder="Comment" style="height: 100px;"></textarea>
						<label asp-for="Comment">Comment</label>
						<span asp-validation-for="Comment" class="text-danger"></span>
					</div>
				</div>

				<div class="col-md-12">
					<div class="form-floating">
						<input asp-for="Photo" type="file" accept="image/*" class="form-control" placeholder="Photo">
						<span asp-validation-for="Photo" class="text-danger"></span>
					</div>
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-secondary">Reset</button>
				</div>
			</form>

		</div>
	</div>
</div>
