@model AboutAddVM

<div class="col-md-3">
	<div class="form-floating">
		<input asp-for="SocialMedia.Twitter" type="text" class="form-control" placeholder="Twitter">
		<label asp-for="SocialMedia.Twitter">Twitter</label>
		<span asp-validation-for="SocialMedia.Twitter" class="text-danger"></span>
	</div>
</div>
<div class="col-md-3">
	<div class="form-floating">
		<input asp-for="SocialMedia.Facebook" type="text" class="form-control" placeholder="Facebook">
		<label asp-for="SocialMedia.Facebook">Facebook</label>
		<span asp-validation-for="SocialMedia.Facebook" class="text-danger"></span>
	</div>
</div>
<div class="col-md-3">
	<div class="form-floating">
		<input asp-for="SocialMedia.Instagram" type="text" class="form-control" placeholder="Instagram">
		<label asp-for="SocialMedia.Instagram">Instagram</label>
		<span asp-validation-for="SocialMedia.Instagram" class="text-danger"></span>
	</div>
</div>
<div class="col-md-3">
	<div class="form-floating">
		<input asp-for="SocialMedia.Linkedin" type="text" class="form-control" placeholder="Linkedin">
		<label asp-for="SocialMedia.Linkedin">Linkedin</label>
		<span asp-validation-for="SocialMedia.Linkedin" class="text-danger"></span>
	</div>
</div>