@model PortfolioAddVM;
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h5 class="card-title">Add New Portfolio</h5>

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
		<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Portfolio" asp-action="GetPortfolioList">Portfolio</a></li>
		<li class="breadcrumb-item active">Add</li>
	</ol>
</nav>
<div class="card">
	<div class="card-body">
		<form asp-area="Admin" asp-controller="Portfolio" asp-action="AddPortfolio" method="post" class="row g-3" enctype="multipart/form-data">
			<input asp-for="FileName" type="hidden" value="test filename" />
			<input asp-for="FileType" type="hidden" value="test filetype" />
			<div class="col-md-12">
				<div class="form-floating">
					<input asp-for="Title" type="text" class="form-control" placeholder="Your Title">
					<label asp-for="Title">Title</label>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-floating">
					<input asp-for="Category.Name" type="text" class="form-control" placeholder="Your Category Name">
					<label asp-for="Category.Name">Category Name</label>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-floating">
					<input asp-for="Photo" type="file" accept="image/*" class="form-control" placeholder="Photo">
				</div>
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="reset" class="btn btn-secondary">Reset</button>
			</div>
		</form>

	</div>
</div>

