@model AboutAddVM;
@{
	ViewData["Title"] = "AddAbout";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h5 class="card-title">Add New About Us</h5>

<nav>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
		<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="About" asp-action="GetAboutList">About Us</a></li>
		<li class="breadcrumb-item active">Add</li>
	</ol>
</nav>
<div class="card">
	<div class="card-body">
		<form asp-area="Admin" asp-controller="About" asp-action="AddAbout" method="post" class="row g-3" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="FileName" type="hidden" value="test filename" />
			<input asp-for="FileType" type="hidden" value="test filetype" />
			<div class="col-md-12">
				<div class="form-floating">
					<input asp-for="Header" type="text" class="form-control" placeholder="Your Header">
					<label asp-for="Header">Header</label>
					<span asp-validation-for="Header" class="text-danger"></span>
				</div>
			</div>
			<div class="col-12">
				<div class="form-floating">
					<textarea asp-for="Description" class="form-control" placeholder="Description" style="height: 100px;"></textarea>
					<label asp-for="Description">Description</label>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-floating">
					<input asp-for="Clients" type="number" class="form-control" placeholder="Your Clients">
					<label asp-for="Clients">Clients</label>
					<span asp-validation-for="Clients" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-floating">
					<input asp-for="Project" type="number" class="form-control" placeholder="Your Project">
					<label asp-for="Project">Project</label>
					<span asp-validation-for="Project" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-floating">
					<input asp-for="HoursOfSupport" type="number" class="form-control" placeholder="Your Hours Of Support">
					<label asp-for="HoursOfSupport">Hours Of Support</label>
					<span asp-validation-for="HoursOfSupport" class="text-danger"></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-floating">
					<input asp-for="HardWorkers" type="number" class="form-control" placeholder="Your Hard Workers">
					<label asp-for="HardWorkers">HardWorkers</label>
					<span asp-validation-for="HardWorkers" class="text-danger"></span>
				</div>
			</div>

			<partial name="AddSocialMediaPartialView/_SocialMediaView" />

			<div class="col-md-12">
				<div class="form-floating">
					<input asp-for="Photo" type="file" accept="image/*" class="form-control" placeholder="Photo">
					<span asp-validation-for="Photo" class="text-danger"></span>
				</div>
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-primary">Submit</button>
				<button type="reset" class="btn btn-secondary">Reset</button>
			</div>
		</form>

	</div>
</div>

