@model TeamUpdateVM

<div class="col-md-3">
	<div class="form-floating">
		<input asp-for="Twitter" type="text" class="form-control" placeholder="Twitter">
		<label asp-for="Twitter">Twitter</label>
	</div>
</div>
<div class="col-md-3">
	<div class="form-floating">
		<input asp-for="Facebook" type="text" class="form-control" placeholder="Facebook">
		<label asp-for="Facebook">Facebook</label>
	</div>
</div>
<div class="col-md-3">
	<div class="form-floating">
		<input asp-for="Instagram" type="text" class="form-control" placeholder="Instagram">
		<label asp-for="Instagram">Instagram</label>
	</div>
</div>
<div class="col-md-3">
	<div class="form-floating">
		<input asp-for="Linkedin" type="text" class="form-control" placeholder="Linkedin">
		<label asp-for="Linkedin">Linkedin</label>
	</div>
</div>